/*
 * tablet css
 */
/* * mobile css */
/* * common devices css */
/* typography */
/* layout */
.pk-price-destaque h2:before {
	top: -32px;
	width: 86%;}
.safe {
	text-align: right;
	background: none;}